.btn-sup {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background: rgba(252, 252, 252, 0.575);
    border-bottom: 2px solid #00000014;
    margin: -6px 0 0 -11px;
}

.icons-ini {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.icons-ini > a {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #3f83c2;
    font-size: 22px;
}

.icons-ini > a:hover{
    background: #3670a7a2;
    color: #fff;
    cursor: default;
}

.icons-fin {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons-fin > a {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #3f83c2;
    font-size: 22px;
    margin-right: -20px;
    background: rgba(252, 252, 252, 0.575);
    border-bottom: 1px solid #00000014;
}

.icons-fin > a:hover{
    background: #3670a7a2;
    color: #fff;
    cursor: default;
}
