@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body, html, .container {
    height: 100%;
    background: #f5f5f5;
}

header {
    width: 100%;
    height: 50px;
    background: #3670a7;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.baar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-baar {
    display: flex;
    align-items: center;
}

.icon-baar > i {
    color: #fff;
    font-size: 25px;
}

.baar > h1 {
    color: #fff;
    margin-left: 18px;
}

.info {
    display: flex;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 20px;
}

.user > h6 {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 400;
    font-size: .6rem;
}

h6 > i {
    font-size: 14px;
    margin-right: 5px;
}

#date {
    margin-right: 5px;
}

#marca {
    margin-right: 5px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons > div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 15px;
    text-decoration: none;
}

.icons a > i {
    color: #fff;
    font-size: 20px;
}

.icons a:hover {
    background: #3f83c2;
}

main {
    height: calc(100% - 50px);
    display: flex;
}

.menu-lateral {
    width: 50px;
}

#icon-menu {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#icon-menu > i {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #3670a7;
}

#icon-menu > i:hover {
    background: #3670a7a2;
    color: #fff;
}

#icon-menu > a {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    text-decoration: none;
    color: #3670a7;
}

#icon-menu > a:hover {
    background: #3670a7a2;
    color: #fff;
}

.fieldset-sup {
    width: 100%;
    border-top: 1px solid #b3b3b3;
    border-left: 1px solid #b3b3b3;
    margin-top: 30px;
}

.fieldset-sup > .legend-sup {
    width: 200px;
    height: 25px;
    display: flex;
    align-items: flex-end;
    background: rgba(252, 252, 252, 0.575);
    font-size: 12px;
    font-weight: 300;
    margin-top: -50px;
    margin-left: -5px;
    padding-left: 5px;
    border-left: 1px solid #b3b3b3;
    border-top: 1px solid #b3b3b3;
    border-right: 1px solid #b3b3b3;
}


