@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body, html {
    height: 100%;
    background: #f5f5f5;
}

header {
    width: 100%;
    height: 50px;
    background: #3670a7;
    display: flex;
    justify-content: space-between;
}

.baar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-baar {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.icon-baar > i {
    color: #fff;
}

.baar > h1 {
    color: #fff;
}

.info {
    display: flex;
}

.user {
    display: flex;
    flex-direction: column;
}

