@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body, html {
    height: 100%;
}

.container{
    height: 100vh;
    background: #f5f5f5;
}

.top{
    height: 15rem;
    background: #3670a7;
}

.login{
    display: flex;
    justify-content: center;
}

.box-login{
    height: 370px;
    width: 470px;
    display: flex;
    flex-direction: column;
    background: #fff;
    margin-top: -80px;
    padding: 15px 70px 10px;
    border-radius: 5px;
    box-shadow: 0 0 3px 0px #c3c3c3;
}

.logo{
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo > img{
    width: 170px;
}

.info {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.info > p {
    background: #f1f1f1;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    color: #6e6e6e;
}

.info2 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 13px;
    font-weight: 400;
    color: #6e6e6e;
}

label {
    font-size: 14px;
}

.user {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.user > input {
    width: 100%;
    outline: none;
    text-decoration: none;
    font-size: 16px;
    margin-left: 20px;
    border-bottom: 2px solid #f5f5f5;
}

input:focus {
    border: none;
    border-bottom: 2px solid rgba(52, 187, 240, 0.5);
    transition: 500ms;
}

.pass {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.pass > input {
    width: 100%;
    outline: none;
    text-decoration: none;
    font-size: 16px;
    margin-left: 28px;
    border-bottom: 2px solid #f5f5f5;
}
input:focus {
    border: none;
    border-bottom: 2px solid rgba(52, 186, 240, 0.5);
    transition: 500ms;
}

.empress {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.empress > select {
    width: 100%;
    margin-left: 7px;
}

.empress > select {
    outline: none;
}

a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 5px 0;
    color: #fff;
    background: #3670a7;
    border-radius: 2px;
    font-size: 14px;
    text-decoration: none;
    cursor: unset;
}

a:hover {
    background-color: #316799;
    transition: 300ms;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer > p {
    font-size: 12px;
    padding: 10px 0;
    color: #6e6e6e;
}
